[Unit]
Description="Wallpapers slideshow service (run ~/.config/i3/slideshow-script.sh)"

[Service]
Type=oneshot
ExecStart="/home/stefano/.config/i3/slideshow-script.sh"

[Install]
WantedBy=graphical.target
