[Unit]
Description="Run slideshow.service"

[Timer]
# AccuracySec: Specify the accuracy the timer shall elapse with. Defaults to 1min. 
AccuracySec=1s
# OnActiveSec=30s
OnStartupSec=5s
OnUnitActiveSec=1m

# Unit=slideshow.service

[Install]
# WantedBy=graphical.target
WantedBy=timers.target
