[Unit]
Description="Pacman cache cleaning service (run paccache -rk)"

[Service]
Type=oneshot
ExecStart=paccache -rk1 && paccache -ruk0

[Install]
WantedBy=graphical.target
